


/* Main Layout syles*/
body {
  height: 100%;
}
html {
  height:100%;
}
#wrapper {
  height: 100%;
}
#notify {
    position: relative;
    width:100%;
    height:40%;
    background-color: white;
    overflow: hidden;

}
#notify:after{
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
   rgba(255,255,255, 1) 0%,
   rgba(255,255,255, 0) 100%
);
  height: 100%;
}
#main {
  position: relative;
  width: 100%;
  height: 50%;
  background-color: white;
}
#main .container {
  height: 100%;
}
footer {
    height:10%;
    background-color: grey;

}
.carousel-control-next, .carousel-control-prev {
  height: 40px;
  width: 40px;
  background-color: black;
}

#carouselExampleFade .carousel-inner {
  height: 50vh;

}

#carouselExampleFade .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
}

#carouselExampleFade .carousel-inner .container {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#carouselExampleFade .carousel-inner .container .carousel-caption {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#carouselExampleFade .carousel-inner .container .btn {
  flex-wrap: wrap;
  margin-bottom: 5px;
}

/* Media Breakpoints */



 @media (min-width : 768px) {
   #notify {
     height:90vh;
     width: 25%;
   }
   #main {
     height: 90vh;
     width: 75%;
     position: relative;
     background-color: lightblue;
   }
   footer {
     height: 10vh;
     width: 100%;
     background-color: grey;
 }
 .btn {
   font-size: 1.75rem;
 }
