


/* Main Layout syles*/
body {
  height: 100%;
}
html {
  height:100%;
}
#wrapper {
  height: 100%;
}
#notify {
    position: relative;
    width:100%;
    height:40%;
    background-color: white;
    overflow: hidden;
}
#notify div {
  text-align: center;
}
/* Cool gradient fade on the notify panel */
#notify:after{
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top,
   rgba(255,255,255, 1) 0%,
   rgba(255,255,255, 0) 100%
   )
}

#main {
  position: relative;
  width: 100%;
  height: 50%;
  background-color: white;
}
#main .container {
  height: 100%;
}
footer {
    height:10%;
    background-color: grey;
  }
.col {
  text-align: center;
}
p {
  color: White;
  background-color: #2d2d2d;
  font-size: 4vw;
}
/*Button carousel styles(Make sure buttons are centered)*/
.carousel-caption {
  color: black;
}
.carousel-control-next, .carousel-control-prev {
margin-top: auto;
  height: 30px;
  width: 30px;
  background-color: black;
}

#carouselExampleFade .carousel-inner{
  /*Please help me find out why using vh is the only reasonable option */
  height: 50vh;
  width: 100%;

}

#carouselExampleFade .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
}
#carouselExampleFade .carousel-inner .carousel-item .container {
  justify-content: space-around;
}
#carouselExampleFade .carousel-inner .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#carouselExampleFade .carousel-inner .container .carousel-caption {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#carouselExampleFade .carousel-inner .container .btn {
  flex-wrap: wrap;
  margin-bottom: 5px;
  margin-left: 1vw;
  width: 20vw;
  font-size: 3vw;

}

/* Media Breakpoints */


 @media (min-width : 1600px) {
 #carouselExampleFade {
   width: 65vw;
   height: 85vh;
 }
 #carouselHolder {
   height: 85vh;
 }
}
 @media (min-width : 768px)  {
   #notify {
     height:90vh;
     width: 25%;
   }
   #main {
     height: 90vh;
     width: 75%;
     position: relative;
   }
   footer {
     height: 10vh;
     width: 100%;
     background-color: grey;
 }
 .btn {
   font-size: 1.75rem;
 }
 #carouselExampleFade .carousel-inner{

   height: 80vh;

 }
}
@media (min-height : 550px) {
  .btn {
    padding-bottom: 10px;
  }
}
